

/* .sidebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25em !important; 
  height: 100vh !important; 
} */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}