

/* .sidebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25em !important; 
  height: 100vh !important; 
} */

@media screen and (min-width: 1024px) {
  .container-content {
    margin-left: 18em !important;
  }
}
@media screen and (max-width: 370px) {
  .container-content {
    padding-left: 4em !important;
  }
}