@media screen and (min-width: 371px) {
  .container-content{
    padding-left: 10em !important;
  }
}
@media screen and (max-width: 370px) {
  .container-content {
    padding-left: 4.8em !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
}