.avatar-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.avatar-post {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: 0.1px solid rgb(224, 224, 224);
  object-fit: cover;
}
.clickable{
  cursor: pointer !important;
}

.card-footer {
  background-color: white;
  border-top: none;
}
.post-single{
  cursor: pointer;
}