.margin-top {
  margin-top: 6em;
}
.center-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.custom-icon {
  color: #ff00ff;
  font-size: 5em;
}
.modal-form {
  width: 100em;
}
/* .modal {
  --bs-modal-width: 80em;
} */
.input-modal {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1em;
  /* height: 5em; */
}
textarea {
  border-color: #ff00ff !important;
  resize: none !important;
}
textarea:focus {
  border-color: rgba(0, 255, 255, 1) !important;
  outline: none !important;
  box-shadow: -2px 2px 1px rgba(0, 255, 255, 1),
    2px -2px 1px rgba(255, 0, 255, 1) !important;
}
