.dIyxTF {
    display: none !important;
  }
  .jDsDCL {
    display: none !important;
  }
  .input-edit {
    width: 100%;
  }
  .eZiARW {
    display: none !important;
  }
  .dABNOU {
    display: none !important;
  }
  .gZeJQ {
    display: none !important;
  }